.git
.github
.env
.env.*
!.env.example
!.env.production.example
artifacts
node_modules
vendor
database/*.sqlite
storage/framework
storage/inertia-devtools
storage/logs
storage/app/private
storage/app/public
public/build
public/hot
public/storage
